
@{
    ViewBag.Title = "Students DB";
}

<div class="jumbotron">
    <h1>Student Records</h1>
    <p class="lead">Welcome to Student Information Systems in ASP.NET MVC with Entity Framework Code First. </p>
    <p>@Html.ActionLink("Students List >>", "Index", "Students", null, new { @class = "btn btn-primary" })</p>

</div>

<div class="panel panel-default text-center">
    <div class="panel-body h3 text-primary">
        Final Assignment
    </div>
</div>